* {
  font-family: "Courier New", monospace;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    background-image: url('sweet.png');
    width: 800px;
    height: 57.41px;
    margin-top: 70px;
    }
  
  #gameContainer {
    background-image: url('Escena.png');
    width: 1000px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-top: 40px;
  }

  #bloodGlucoseContainer {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px;
  }

  #bloodGlucoseTargetsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  #instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    text-align: center;
  }
  
  .blood-glucose-label {
    font-size: 14px; 
  }

  .blood-glucose-unit {
    font-size: 14px;
  }